[user]
	name = wjwsir
	email = wjwsir@gmail.com
[core]
	editor = vim
	excludesfile = /home/wjwsir/.gitignore_global
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	graph = log --all --graph --decorate --oneline
